body {
    font-family: 'Work Sans', sans-serif;
    color: #fff;
}

.btn {
    width: 69px;
    height: 72px;
    margin-bottom: 16px;
    padding: 12px;
    font-size: 32px;
    line-height: 40px;
    color: #fff;
    background-color: #2e2f38;
    border-radius: 24px;
}

.flex {
    display: flex;
}

.calculator {
    max-width: 364px;
    margin: auto;
    padding: 21px 20px 25px;
    background-color: #17171c;
}

.calculator__output-screen {
    margin-bottom: 16px;
    text-align: right;
    word-break: break-all;
    font-size: 96px;
    font-weight: 300;
    line-height: 96px;
}

.calculator__btns {
    justify-content: space-between;
}

.calculator__btns-left {
    width: 238px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn_clear {
    width: 153px;
    background-color: #4e505f;
}

.calculator__btns-item:last-child .btn_num {
    width: 238px;
}

.btn_op,
.btn_result {
    background-color: #4b5efc;
}

.btn_result,
.calculator__btns-item:last-child .btn_num {
    margin: 0;
}
