*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
    font-family: 'Work Sans', sans-serif;
    color: #fff;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn_reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

.btn {
    width: 69px;
    height: 72px;
    margin-bottom: 16px;
    padding: 12px;
    font-size: 32px;
    line-height: 40px;

    color: #fff;
    background-color: #2e2f38;
    border-radius: 24px;
    cursor: pointer;
}

.flex {
    display: flex;
}

.calculator {
    width: 364px;
    margin: auto;
    padding: 21px 20px 25px;
    background-color: #17171c;
}

.calculator__output-screen {
    margin-bottom: 16px;
    justify-content: end;
}

.calculator__expression {
    font-size: 96px;
    font-weight: 300;
    line-height: 96px;
}

.calculator__btns {
    justify-content: space-between;
}

.calculator__btns-left {
    width: 238px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calculator__btns-item:first-child .btn_left {
    width: 153px;
    background-color: #4e505f;
}

.calculator__btns-item:last-child .btn_left {
    width: 238px;
}

.btn_right {
    background-color: #4b5efc;
}

.calculator__btns-item:last-child .btn_right, .calculator__btns-item:last-child .btn_left {
    margin: 0;
}
